In [1]:
import pandas as pd

In [ ]:
dados = {
    'Nome': ['Ana', 'Bruno', 'Carlos'],
    'Idade': [25, 30, 32],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Fortaleza']
}

dados
print(dados)

df = pd.DataFrame(dados)
df

In [ ]:
dados = [
    ['Ana',24, 'São Paulo'],
    ['Bruno',28, 'São Pedro'],
    ['Carlos',32, 'São José'],
]
print(dados)

In [ ]:
# usando função data frame do pandas para criar tabela e adicionando as colunas
# é uma forma muito boa de visualizar os dados
colunas = ['Nome', 'Idade', 'Cidade']

df = pd.DataFrame(dados, columns=colunas)
df

In [ ]:
# usando a função dataframe para dizer quem é nome, idade e cidade, no caso são colunas
df = pd.DataFrame(columns=['Nome', 'Idade', 'Cidade'])

# na posição zero (primeira linha), o nome é ana a idade é 24 e a cidade é são paulo
df.loc[0] = ['Ana', 24, 'São Paulo']
df.loc[1] = ['Bruno', 28, 'São Pedro']
df.loc[2] = ['Carlos', 32, 'São José']

df

In [ ]:
# utilizando arquivos para manipular os dados

# Salvar o aquivo em csv
df.to_csv('arquivo1.csv')

# Salvar o arquivo em excel
df.to_excel('arquivo2.xlsx')

In [ ]:
# Ler os arquivos em csv e excel (no colab)

df_leitura = pd.read_csv('content/arquivo1.csv') # insere o caminho de onde está o seu arquivo

df_excel = pd.read_excel('content/arquivo2.xlsx') # sempre atenção ao caminho

In [ ]:
# Trabalhando com DataFrame

dados = {
    'Nome': ['Ana', 'Bruno', 'Ana', 'Carlos'],
    'Salário': [2500, 3000, 4000, 3800],
    'Desconto': [10, 15, 5, 22]
}

df = pd.DataFrame(dados)
df

In [ ]:
df['Nome'].value_counts() # ele conta quantas vezes aparece a linha ana dentro da coluna Nome

In [ ]:
df.value_counts() # ele anexa as coisas em comum

In [ ]:
df_salario_aumento = df['Salário']*2
df_salario_aumento # multiplicando cada linha do salário por 2

In [ ]:
df_desconto_salario = df['Salário'] * (df['Desconto'] / 100)
df_desconto_salario

# Incluir novas colunas
df['df_desconto_salario'] = df['Salário'] * (df['Desconto'] / 100)
df

In [ ]:
# Exercícios

"""
1. Crie o seguinte dataframe

Nome: ana, laura, martim, julia, marcelo
Salario: 2500, 2800, 3200, 2400, 3900
Desconto: 10, 12, 10, 15, 18

Calcule o desconto e mostre o valor que cada pessoa irá receber após o desconto.
Salve esse arquivo em csv e volte a ler o arquivo que foi salvo.
"""

dados = {
    'Nome': ['ana', 'laura', 'martim', 'julia', 'marcelo'],
    'Salario': [2500, 2800, 3200, 2400, 3900],
    'Desconto': [10, 12, 10, 15, 18]
}

df = pd.DataFrame(dados)

# calculando o desconto
df_desconto = df['Salario'] * (df['Desconto'] / 100)
# aplicando o desconto no salário
df_valorfinal = df['Salario'] - df_desconto

# adicionando a coluna com o salário com descontos aplicados
df['ValorFinal'] = df_valorfinal

# salvando arquivo em csv
df.to_csv('/content/arquivo1.xls') #caminho do arquivo

# lendo arquivo salvo em csv
df_leitura = pd.read_csv('/content/arquivo1.xls') #caminho do arquivo

# min, max, media, mediana
print(df['Salario'].min())
print(df['Salario'].max())
print(df['Salario'].mean())
print(df['Salario'].median())

# printando
df

In [ ]:
# Normalize as seguintes colunas

dados = {
    'num1': [10, 10.3, 15.7, 20.13, 35.33],
    'num2': [111.11, 222.22, 333.33, 444.44, 555.55],
    'num3': [10001, 10002, 10003, 10004, 10005]
}

df = pd.DataFrame(dados)

"""
fórmula: x = (x - xmin) / (xmax - xmin)
"""

# calculando - atenção a prioridade das operações, atenção aos parentêses
for coluna in df.columns:
    df[coluna] = (df[coluna] - df[coluna].min()) / (df[coluna].max() - df[coluna].min())

print(df)

In [ ]:
dados = {
    'num1': [10, 10.3, 15.7, 20.13, 35.33],
    'num2': [111.11, 222.22, 333.33, 444.44, 555.55],
    'num3': [10001, 10002, 10003, 10004, 10005]
}

"""
fórmula: x = (x - xmin) / (xmax - xmin)
"""

df = pd.DataFrame(dados)

# Correção: Adicionar parênteses para chamar a função min()
num1_norm = (df['num1'] - df['num1'].min()) / (df['num1'].max() - df['num1'].min())
num2_norm = (df['num2'] - df['num2'].min()) / (df['num2'].max() - df['num2'].min())
num3_norm = (df['num3'] - df['num3'].min()) / (df['num3'].max() - df['num3'].min())

df['num1_norm'] = num1_norm
df['num2_norm'] = num2_norm
df['num3_norm'] = num3_norm

df

In [ ]:
dados = {
    'Nome': ['Ana', 'Bruno', 'Carlos'],
    'Idade': [25, 30, 32],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Fortaleza']
}

df = pd.DataFrame(dados)

# usando for

# iterar em todo df pela função iterrows
for index, row in df.iterrows():
    print(f'Nome: {row["Nome"]}, Idade: {row["Idade"]}')
# escreve nome e traga seus respectivos nomes, faça o mesmo com idade

In [ ]:
dados = {
    'Nome': ['ana', 'laura', 'martim', 'julia', 'marcelo'],
    'Salario': [2500, 2800, 3200, 2400, 3900],
    'idade': [33, 31, 34, 45, 62]
}

df = pd.DataFrame(dados)

df

# iterando linha a linha olhando para o index (quantos tiverem ele passará)
# se a idade for maior que 30, voce altera (o .at permite/realiza a alteração)
for index, row in df.iterrows():
  if row['idade'] > 30:
    # entrando no df, e acessando o index do salario, fazendo que linha a linha multiplique por 1.1
    df.at[index, 'Salario'] = row['Salario'] * 1.1
print(df)

In [ ]:
dados = {
    'nome': ['ana', 'laura', 'martim'],
    'peso': [70, 80, 90],
    'altura': [1.65, 1.75, 1.85]
}

df = pd.DataFrame(dados)

# Criando uma nova coluna IMC
for index, row in df.iterrows():
    # calculando o imc, row significa linha
    imc = row['peso'] / (row['altura'] ** 2)
    # o imc significa o nome da coluna
    df.at[index, 'imc'] = imc
# printando
df

In [ ]:
# usando for em DataFrames

dados = {
    'Nome': ['Ana', 'Bruno', 'Carlos', 'Raiam', 'José'],
    'Idade': [25, 30, 32, 43, 68],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Fortaleza', 'Minas', 'ribeirão']
}

df = pd.DataFrame(dados)

# Adicionar uma nova coluna para classificação baseada na idade

# lembrando que por ser for, ele vai iterar/passar por cada item
for index, row in df.iterrows():
  # se a linha idade for menor que 30, será jovem
  if row['Idade'] < 30:
    df.at[index, 'Classificação'] = 'Jovem'
  # dentro do df, criamos a coluna classificação por meio do .at, e atribuindo caso seja jovem
  elif row['Idade'] < 50:
    df.at[index, 'Classificação'] = 'Adulto'
  else:
    df.at[index, 'Classificação'] = 'Idoso'

#printando o data frame
df

In [ ]:
# criar nova coluna chamada metropole, se for SP ou RJ
# escreva sim, caso contrário, escreva não

for index, row in df.iterrows():
  if row['Cidade'] == 'São Paulo' or row['Cidade'] == 'Rio de Janeiro':
    df.at[index, 'Metropole'] = 'Sim'
  else:
    df.at[index, 'Metropole'] = 'Não'

df